 /* ----------------------------- Fonts ----------------------------- */

 /* Inter Font Family */
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/inter/v12/UcCO3FwrKOGo-gD-A2f1.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/inter/v12/UcC83FwrKOGo-oL6d44wI.woff2') format('woff2');
}

/* Lexend Deca Font Family */
@font-face {
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/lexenddeca/v16/K2FxfZ1EmftJSV9AdBdi8ijOl8l2Z4uElZQ.woff2') format('woff2');
}
 /* ----------------------------- End Fonts ----------------------------- */

 /* -------------------RESETS -------------------- */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 0.938rem;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
 /* ------------------- END RESETS -------------------- */ 


/* -------------- custom properties -------------- */
:root {
  /* Primary Colors */
  --color-primary-bg: hsl(233, 47%, 7%);
  --color-primary-card-bg: hsl(244, 38%, 16%);
  --color-primary-accent: hsl(277, 64%, 61%);

  /* Neutral Colors */
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-paragraph: hsla(0, 0%, 100%, 0.75);
  --color-neutral-stat-heading: hsla(0, 0%, 100%, 0.6);
}
/* -------------- end custom properties -------------- */

/* Base Styles */
body {
  max-width: 100%;
  width: 90rem;
  margin: 0 auto;
  padding: 5.5rem 1.5rem;
  background-color: var(--color-primary-bg);

}
.stat-preview-card {
  max-width: 20.438rem;
  margin: 0 auto;
}
.image-container img {
  width: 100%;
  height: auto; /* Ensure the image scales responsively */
  display: block;
}
.content-container {
  max-width: 20.438rem; 
  padding: 0 2rem 2rem 1.938rem; 
  background-color: var(--color-primary-card-bg);
}
.content-container h1 {
  font-size: 2rem;  
  font-family: 'Inter', 'sans-serif';
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  padding-top: 2.5rem ;
  margin-bottom: 1rem;
  color: var(--color-neutral-white);
}
.highlight {
  color: var(--color-primary-accent);  
}
.content-container p {
 font-family: 'Inter', 'sans-serif';
 color: var(--color-neutral-paragraph);
 font-size: 1rem;
 text-align: center;
 line-height: 1.625rem;
 margin-bottom: 2.5rem;
}
.stats-group {
 display: flex;
 flex-direction: column;
}
.stat {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}
.stat-value {
 font-weight: 700;
 font-family: 'Inter';
 font-size: 1.7rem;
 color: var(--color-neutral-white);
}
.stat p {
 font-family: 'Lexend Deca';
 font-weight: 400;
 font-size: .85rem;
 text-transform: uppercase;
}

/* Media query for desktop */
@media (min-width: 768px) {
  body {
    padding: 11.063rem 10.313rem;

  }
  .stat-preview-card {
    max-width: 100%; 
    display: flex; 
    flex-direction: row; 

    /* justify-content: space-between;  */
    border: 2px solid rgb(197, 194, 187);
  }

  .image-container {
     order: 2;
    /* min-width: 33.75rem; */
  }
 .image-container img {
    content: url('/images/big-overlay.png'); 
     width: 100%;
     min-width: 33.75rem;
    height: auto; /* Maintain responsive scaling */
  }
   .content-container {
    padding: 4.438rem 5.938rem 3.688rem 4.469rem; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 100%;
    max-width: 35.625rem;
  }
  .content-container h1 {
    font-size: 2.25rem;
    text-align: left;
    margin-bottom: 1.563rem;
    padding-top: 0;
  }
  .content-container p {
    text-align: left;
  }

  .stats-group {
    flex-direction: row; 
    justify-content: flex-start; 
    gap: 2rem;
  }

}






 